$color-pink: #f3c6bd;
$color-light-pink: #fcf0e3;
$color-yellow-light: #fcf0e366;
$color-white-light: #f2f2f2;
$color-white: #fff;
$color-light-grey: #e3e3e3;
$color-blue: #0185d0;
$color-light-blue: #00a1c61a;
$color-dark: #2b292d;
$color-grey: #d5d4d5;
$color-dark-blue: #3141c5;
$color-light: #f4f5f7;
$color-light-line: #0000001a;
$color-light-grey-radio-btn: #2b292d1a;

$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-orange: #f1592b;
$text-color-blue-dark: #3142c4;
$text-color-blue: #3142c6;
$text-color-blue-light: #0189d1;
$text-color-blue-link: #3040c4;
$text-color-black: #000;
$text-color-white: $color-white;
$text-color-dark: $color-dark;

$border-color: #2b292d33;
$border-color-light: #00000026;
$border-color-blue: $text-color-blue;
$border-color-grey: $color-light-grey;

$box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05), 0px 1px 3px 0px rgba(0, 0, 00, 0.1),
    0px 1px 0px 0px rgba(255, 255, 255, 0.1);
